.mainbackground {
  width: 68vw;
  background-color: #181d31;
  opacity: 85%;
  height: 37vw;
  border-radius: 1.5vw;
  margin-top: -37.5vw;
  margin-left: 17vw;
}

.mainprofiletopicon {
  filter: brightness(150%);
  width: 3vw;
  height: 3.5vw;
  margin-left: 5vw;
  margin-top: 1.5vw;
  padding-bottom: 1vw;
}

.topbar {
  display: flex;
  align-items: center;
  border-bottom: 0.15vw solid #8e44ad;
}

.housetext {
  filter: brightness(130%);
  text-transform: uppercase;
  font-size: 1.6vw;
  letter-spacing: 0.1vw;
  color: #8e44ad;
  font-family: "Roboto", sans-serif;
  padding-left: 2vw;
  margin-top: 1.5vw;
  padding-bottom: 1vw;
}

.profilemaininput {
  background-color: #101423;
  border: 0.1vw solid #8e44ad;
  border-radius: 1.5vw;
  line-height: 2.4vw;
  width: 12vw;
  padding-top: 0.1vw;
  margin-top: 1.2vw;
  margin-left: 4vw;
}
.profilemaininput::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.1vw;
  padding-left: 1.2vw;
  padding-top: 1vw;
  color: #b4b4b4;
}

.maincontent::after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  display: flex;
  flex-direction: column;
  float: left;
  width: 33.3%;
  padding-top: 0.4vw;
  height: 50vw;
}

.column2 {
  display: flex;
  flex-direction: column;
  float: left;
  width: 33.3%;
  margin-left: -7vw;
  height: 50vw;
}
.column3 {
  display: flex;
  flex-direction: column;
  float: left;
  width: 33.33%;
  margin-left: -7vw;
  height: 50vw;
}
.information {
  font-size: 1.3vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #b4b4b4;
  margin-left: 4vw;
  margin-top: 1vw;
}

.profilemaininput2 {
  background-color: #101423;
  border: 0.1vw solid #8e44ad;
  border-radius: 1.5vw;
  line-height: 2.2vw;
  width: 12vw;
  margin-top: 0.9vw;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-left: 1.2vw;
  color: #b4b4b4;
}

.profilemaininput2::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-top: 1vw;
  color: #7a7a7a;
}

.profilemaininput3 {
  background-color: #101423;
  border: 0.1vw solid #8e44ad;
  border-radius: 1.5vw;
  line-height: 2.2vw;
  width: 12vw;
  margin-top: 1.2vw;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-left: 1.2vw;
  color: #b4b4b4;
}

.profilemaininput3::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-top: 1vw;
  color: #7a7a7a;
}

.oneline {
  display: flex;
  flex-direction: row;
}

.profilemaininput4 {
  background-color: #101423;
  border: 0.1vw solid #8e44ad;
  border-radius: 1.5vw;
  line-height: 2.2vw;
  width: 5.45vw;
  margin-top: 0.5vw;
  margin-bottom: -0.5vw;
  margin-left: 4vw;
  margin-right: -3vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-left: 1.2vw;
  color: #b4b4b4;
}

.profilemaininput4::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-top: 1vw;
  color: #7a7a7a;
}

.profilecreatenew {
  background-color: #101423;
  border: 0.1vw solid #b4b4b4;
  border-radius: 1.5vw;
  line-height: 2.4vw;
  width: 12vw;
  margin-top: 1.5vw;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.1vw;
  color: #b4b4b4;
}

.profilemaininput5 {
  background-color: #101423;
  border: 0.1vw solid #8e44ad;
  border-radius: 1.5vw;
  line-height: 2.05vw;
  width: 12vw;
  margin-top: 0.5vw;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-left: 1.2vw;
  color: #b4b4b4;
}

.profilemaininput5::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-top: 1vw;
  color: #7a7a7a;
}

.profilemaininput6 {
  background-color: #101423;
  border: 0.1vw solid #8e44ad;
  border-radius: 1.5vw;
  line-height: 2.05vw;
  width: 12vw;
  margin-top: 1.2vw;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-left: 1.2vw;
  color: #b4b4b4;
}

.profilemaininput6::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.8vw;
  padding-top: 1vw;
  color: #7a7a7a;
}

.profilesavechanges {
  background-color: #101423;
  border: 0.1vw solid #2ecc71;
  border-radius: 1.5vw;
  line-height: 2.4vw;
  width: 12vw;
  margin-top: 1.5vw;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.1vw;
  color: #2ecc71;
}
