.mainbackground {
  width: 68vw;
  background-color: #181d31;
  opacity: 85%;
  height: 37vw;
  border-radius: 1.5vw;
  margin-top: -37.5vw;
  margin-left: 17vw;
}

.mainhometopicon {
  filter: brightness(130%);
  width: 3.2vw;
  height: 3.5vw;
  margin-left: 5vw;
  margin-top: 1.5vw;
  padding-bottom: 1vw;
}

.topbar {
  display: flex;
  align-items: center;
  border-bottom: 0.15vw solid #8e44ad;
}

.housetext {
  filter: brightness(130%);
  text-transform: uppercase;
  font-size: 1.6vw;
  letter-spacing: 0.1vw;
  color: #8e44ad;
  font-family: "Roboto", sans-serif;
  padding-left: 2vw;
  margin-top: 1.5vw;
  padding-bottom: 1vw;
}

.changelog {
  font-size: 1.2vw;
  color: #b4b4b4;
  font-family: "Roboto-thin", sans-serif;
  font-weight: 50;
  margin-left: 4vw;
  padding-top: 1.5vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
  border-bottom: 0.15vw solid #b4b4b4;
  width: 22vw;
}

.updatetext {
  color: #7b7b7b;
  font-family: "Roboto-thin", sans-serif;
  font-weight: 50;
  font-size: 1.2vw;
  padding-left: 4vw;
  padding-top: 1vw;
}

.maincontent:after {
  content: "";
  display: table;
  clear: both;
}

.firstcolumn {
  float: left;
  width: 50%;
}
.secondcolumn {
  float: left;
  width: 50%;
}

.log1 {
  width: 24vw;
  height: 8vw;
  background-color: #101423;
  border: 0.15vw solid #8e44ad;
  border-radius: 1.2vw;
  margin-left: 4vw;
  margin-top: 1vw;
}

.log1text {
  color: #7b7b7b;
  font-size: 0.9vw;
  font-family: "Courier New", sans-serif;
  padding-left: 1vw;
  padding-top: 0.5vw;
}
.log1text2 {
  color: #7b7b7b;
  font-size: 0.9vw;
  font-family: "Courier New", sans-serif;
  padding-left: 1vw;
  padding-top: 0.2vw;
}
.log1text3 {
  color: #7b7b7b;
  font-size: 0.9vw;
  font-family: "Courier New", sans-serif;
  padding-left: 1vw;
  padding-top: 0.2vw;
}

.informationbuttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.greenbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6vw;
  height: 6vw;
  border-radius: 1.5vw;
  border: 0.15vw solid #2ecc71;
  background-color: #101423;
  margin-top: 2vw;
  margin-left: 4vw;
}
.purplebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6vw;
  height: 6vw;
  border-radius: 1.5vw;
  border: 0.15vw solid #8e44ad;
  background-color: #101423;
  margin-top: 2vw;
  margin-left: 2vw;
}
.bluebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6vw;
  height: 6vw;
  border-radius: 1.5vw;
  border: 0.15vw solid #00a8ff;
  background-color: #101423;
  margin-top: 2vw;
  margin-left: 2vw;
}
.greentext {
  font-family: "Roboto-thin", sans-serif;
  font-weight: 100;
  color: #2ecc71;
  padding-top: 1.2vw;
  font-size: 1.5vw;
}

.greentext2 {
  font-family: "Roboto-thin", sans-serif;
  font-weight: 100;
  font-size: 1.15vw;
  color: #2ecc71;
}
.purpleimg {
  padding-top: 0.5vw;
  margin-bottom: -1vw;
  width: 5vw;
}

.purpletext {
  font-family: "Roboto", sans-serif;
  font-size: 0.8vw;
  color: #8e44ad;
  padding-top: 0.3vw;
}
.bluetext {
  font-family: "Roboto-thin", sans-serif;
  font-weight: 100;
  color: #00a8ff;
  padding-top: 1.4vw;
  font-size: 1.2vw;
}
.bluetext2 {
  font-family: "Roboto-thin", sans-serif;
  font-weight: 100;
  color: #00a8ff;
  padding-top: 0.2vw;
  font-size: 0.7vw;
}
