.navbar {
  margin-left: 9vw;
  margin-top: -5vw;
  background-color: #181d31;
  width: 5.5vw;
  opacity: 85%;
  height: 45vw;
  border-radius: 1.5vw;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.homeiconbox {
  border: 0.1vw solid #8e44ad;
  border-radius: 1vw;
  background-color: #151927;
  margin-top: 3vw;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.fileiconbox {
  border: 0.1vw solid #8e44ad;
  border-radius: 1vw;
  background-color: #151927;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.runningiconbox {
  border: 0.1vw solid #8e44ad;
  border-radius: 1vw;
  background-color: #151927;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.bagiconbox {
  border: 0.1vw solid #8e44ad;
  border-radius: 1vw;
  background-color: #151927;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.settingsiconbox {
  border: 0.1vw solid #8e44ad;
  border-radius: 1vw;
  background-color: #151927;
  color: white;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.homeicon {
  width: 2.9vw;
  padding: 0.5vw;
}
.shoes {
  width: 2.9vw;
  padding: 0.1vw;
}
