.main-background {
  margin-top: 3vw;
  width: 68vw;
  background-color: #181d31;
  opacity: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 17vw;
  align-content: space-between;
  align-self: center;
  height: 5.5vw;
  border-radius: 1.5vw;
}

.flower-logo {
  padding-top: 0;
  padding-left: 2vw;
  height: 3.5vw;
  margin-right: 6vw;
  margin-top: 1.2vw;
}

.profilepicture {
  margin-top: 1.3vw;
  height: 3.2vw;
  width: 3.2vw;
  background-color: gray;
  border-radius: 50%;
  margin-left: 5vw;
  margin-right: 1.2vw;
}

.username {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  color: #b4b4b4;
  margin-top: 1.3vw;
  margin-right: 11vw;
}

.userstattext {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #b4b4b4;
}

.version-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 1vw;
  font-size: 1.2vw;
  color: #b4b4b4;
  margin-top: 1.2vw;
}
.main-texts {
  display: flex;
  flex-direction: column;
}

.status-icon {
  margin-top: 1.3vw;
  height: 1.5vw;
  width: 1.5vw;
  background-color: #2ecc71;
  border-radius: 50%;
  margin-left: 6vw;
}
