.fullsor {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
}

.zalandologo {
  margin-right: 0.6vw;
  width: 7vw;
}

.purchasename {
  font-size: 1.2vw;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.purchasemethod {
  font-size: 1.2vw;
  margin-left: 1.7vw;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.purchaseamount {
  font-size: 1.2vw;
  margin-left: 1.7vw;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.column41 {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 30vw;
  margin-right: -2.5vw;
}
.column42 {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 30vw;
}

.maincontent:after {
  content: "";
  display: table;
  clear: both;
}
